body{
  margin: 0;
}
.mainimg {
  z-index: -999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(" assets/download.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.5;
  background-position: center;
}
/*//////////////////////start page///////////////////*/
button{
  position: absolute;
  text-align: center;
  width: 100px;
  height: 45px;
  top: 50%;
  left: 50%;
  border-radius: 6px;
  font-size: 25px;
}
/*///////////////////////universal header///////////*/
#header{
  width: 100%;
  text-align: center;
}
.nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E8E8EE;
}
.nav ul li {
  float: left;
}
.nav ul li a{
  display: block;
  color: black;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
}
.nav ul li a:hover:not(.active){
  background-color: #ADD8E6;
}
/*.nav ul li a.active{background-color: #ADD8E6;}
@media screen and (max-width: 600px){
.nav ul li{float: none;}
}*/
/*////////////////////////homepage//////////////////////*/

#selfie{
  position: absolute;
  border-radius: 35px;
  max-width: 100%;
  height: auto;
}
#indexp{
  position: relative;
  width: 400px;
  height: auto;
  left: 375px;
}
.gallery{
  margin: 0 auto;
  width:60%;
  background-color: ;
  overflow: hidden;
  height: 500px;
  position: absolute;
  margin-left: 250px;
  border: solid 2px red;
}
.gallery ul {
  margin: 0;
  list-style: none;
  position: absolute;
  width: 300%;
  height: 100%;
  top: 0;
  border: solid 2px blue;
}
.gallery ul li {
  padding-top: 75px;
  margin: 0;
  width: 33.333333%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  border: solid 2px green;
}
.gallery li img {
  border: none;
  width: 75%;
  height:100%;
}
.gallerytop{
  margin:0 auto;
 }
 .gallery button{
  position:relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  outline: none;
  top: 0;
  bottom: 0;
  width: 20%;
  background-color: #000000;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  opacity: .2
 }
 button.previous {
   left: 0;
 }
button.next{
   right: 0;
 }


.title {
 width: 96%;
 padding: 2%;
 left: 0;
 bottom: 0;
 background: rgba(0,0,0,.5);
 color: #fff;
 text-shadow: 0 -1px 0 rgba(0,0,0,.3);
 font-size: 14px;
 line-height: 18px;
 }
@media screen and (max-width: 600px){
.nav ul li{float: none;}
#indexp{
position: absolute;
left:2%;
top: 65%;
margin-bottom: 10%;
margin-top: 10%;
}
