body{
  margin: 0;
}
.mainimg {
  z-index: -999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(" assets/download.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.5;
  background-position: center;
}
/*//////////////////////start page///////////////////*/
button{
  position: absolute;
  text-align: center;
  width: 100px;
  height: 45px;
  top: 50%;
  left: 50%;
  border-radius: 6px;
  font-size: 25px;
}
/*///////////////////////universal header///////////*/
#header{
  width: 100%;
  text-align: center;
}
.nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E8E8EE;
}
.nav ul li {
  float: left;
}
.nav ul li a{
  display: block;
  color: black;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
}
.nav ul li a:hover:not(.active){
  background-color: #ADD8E6;
}
.nav ul li a.active{background-color: #ADD8E6;}
@media screen and (max-width: 600px){
.nav ul li{float: none;}
}
/*////////////////////////homepage//////////////////////*/

#selfie{
  position: absolute;
  border-radius: 35px;
  max-width: 100%;
  height: auto;
}
#indexp{
  position: relative;
  width: 400px;
  height: auto;
  left: 375px;
}
#gallery ul{
  position: relative;
  display: inline-block;
  top: 400px;
}
#gallery h1{
  position: relative;
}
#gallery li{
  position: relative;
  list-style: none;
  display: inline-block;

}
img{

}
@media screen and (max-width: 600px){
.nav ul li{float: none;}
#indexp{
position: absolute;
left:2%;
top: 65%;
margin-bottom: 10%;
margin-top: 10%;
}
#gallery{
  margin-top:25%;
}
}
